In [1]:
import os
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd 
import numpy as np

In [2]:
#reading clean files and combining them to one.
happy_2017 = pd.read_csv('CleanData/2017_cleaned.csv')
happy_2017.head(5)

,Unnamed: 0,Country,Overall rank,Score,GDP per capita,Family,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption
0,0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612

In [3]:
happy_2017['Year'] = 2017

In [4]:
happy_2018 = pd.read_csv('CleanData/2018_cleaned.csv')
happy_2018.head(5)

,Unnamed: 0,Overall rank,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption
0,0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [5]:
happy_2018['Year'] = 2018

In [6]:
happy_2019 = pd.read_csv('CleanData/2019_cleaned.csv')
happy_2019.head(5)

,Unnamed: 0,Overall rank,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption
0,0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [7]:
happy_2019['Year'] = 2019

In [33]:
happiness_all = happy_2017.append(happy_2018, ignore_index=True).append(happy_2019, ignore_index=True)\
.drop(columns=['Unnamed: 0', 'Social support']).dropna().set_index('Year')
happiness_all.head(20)

,Country,Overall rank,Score,GDP per capita,Family,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption
Year,,,,,,,,,
2017,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
2017,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2017,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
2017,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
2017,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612
2017,Netherlands,6,7.377,1.503945,1.428939,0.810696,0.585384,0.470490,0.282662
2017,Canada,7,7.316,1.479204,1.481349,0.834558,0.611101,0.435540,0.287372
2017,New Zealand,8,7.314,1.405706,1.548195,0.816760,0.614062,0.500005,0.382817
2017,Sweden,9,7.284,1.494387,1.478162,0.830875,0.612924,0.385399,0.384399
2017,Australia,10,7.284,1.484415,1.510042,0.843887,0.601607,0.477699,0.301184
2017,Israel,11,7.213,1.375382,1.376290,0.838404,0.405989,0.330083,0.085242
2017,Costa Rica,12,7.079,1.109706,1.416404,0.759509,0.580132,0.214613,0.100107
2017,Austria,13,7.006,1.487097,1.459945,0.815328,0.567766,0.316472,0.221060
2017,United States,14,6.993,1.546259,1.419921,0.774287,0.505741,0.392579,0.135639
2017,Ireland,15,6.977,1.535707,1.558231,0.809783,0.573110,0.427858,0.298388
2017,Germany,16,6.951,1.487923,1.472520,0.798951,0.562511,0.336269,0.276732
2017,Belgium,17,6.891,1.463781,1.462313,0.818092,0.539771,0.231503,0.251343
2017,Luxembourg,18,6.863,1.741944,1.457584,0.845089,0.596628,0.283181,0.318834
2017,United Kingdom,19,6.714,1.441634,1.496460,0.805336,0.508190,0.492774,0.265428
2017,Chile,20,6.652,1.252785,1.284025,0.819480,0.376895,0.326662,0.082288

In [9]:
happiness_all.to_csv('Onefile.csv')

In [10]:
happiness_all.to_csv(r'C:\users\sadik\Desktop\DataViz\Homework\Final_Project\Onefile.csv', index=False)

In [11]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
model = LinearRegression()

In [12]:
X = happiness_all[['GDP per capita', 'Healthy life expectancy', 'Freedom', 'Generosity','Perceptions of corruption']]
y = happiness_all.Score

In [13]:
#plt.scatter(X,y)

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [15]:
model.fit(X_train, y_train)

LinearRegression()

In [16]:
model.score(X_train, y_train)

0.7814054761389894

In [17]:
model.score(X_test, y_test)

0.7115538643663021

In [22]:
model.coef_

array([1.23396371, 1.29934032, 2.03660196, 0.26627838, 0.37234097])

In [23]:
model.intercept_

2.4560499235571673

model.intercept_

# Predict higher GDP higher happiness

In [18]:
happiness_all[happiness_all['GDP per capita'] == happiness_all['GDP per capita'].max()]

,Country,Overall rank,Score,GDP per capita,Family,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption
Year,,,,,,,,,
2017,Qatar,35,6.375,1.870766,1.274297,0.710098,0.604131,0.330474,0.439299

In [19]:
X_test[9:10]

,GDP per capita,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption
Year,,,,,
2017,0.907975,0.450192,0.547509,0.240016,0.096581

In [20]:
y_test[9:10]

Year
2017    5.956
Name: Score, dtype: float64

In [21]:
model.predict(X_test[9:10])

array([5.37634155])

In [24]:
model.predict (X)

array([6.99399294, 6.83382225, 6.82723618, 6.97903827, 6.75508511,
       6.78795623, 6.83325322, 6.77816803, 6.87369248, 6.84883902,
       6.18906423, 6.08816612, 6.67335637, 6.55517086, 6.7954686 ,
       6.66839392, 6.5798098 , 7.11281759, 6.54640502, 5.95193168,
       6.86314584, 5.59910874, 6.14254253, 5.88040959, 5.72376237,
       7.16278336, 6.59070901, 6.18589748, 5.42033275, 6.09867057,
       6.37544398, 6.0345355 , 6.08547437, 6.22896633, 7.16910747,
       5.57981061, 6.16866724, 5.95775073, 6.44411789, 5.66545604,
       6.37616377, 5.80798788, 5.25491908, 5.60110788, 5.28819759,
       6.08293434, 5.61706593, 5.86477053, 5.53634821, 5.37634155,
       6.51422659, 5.37957845, 5.15392289, 5.57307634, 5.95923411,
       4.67098575, 5.81680348, 5.320779  , 5.43508258, 5.81771288,
       6.2911343 , 6.38612899, 5.52004497, 5.86499973, 6.03760477,
       6.05959089, 5.4129324 , 5.51500121, 5.42517774, 5.41735185,
       6.80518283, 5.40288579, 5.12005514, 5.40710176, 5.32926285,
       5.47990171, 5.47884564, 4.9703704 , 5.73255858, 4.48473091,
       5.3956934 , 5.0053303 , 5.18939161, 5.18875172, 5.47253268,
       5.75253222, 5.31103979, 5.40964368, 6.15940816, 5.08844271,
       4.91360828, 5.36146335, 4.04120246, 5.53468777, 4.37271315,
       4.87238262, 5.4051573 , 4.966239  , 4.73200711, 5.35346323,
       5.04073282, 5.13123762, 4.65725985, 5.00459305, 5.43276567,
       3.67146094, 4.28360965, 5.34334182, 5.4807502 , 4.93901221,
       5.20097157, 4.61506647, 4.01554898, 4.76684892, 4.44092321,
       4.61205185, 5.14871131, 5.07397824, 4.31135967, 5.81552481,
       4.83174268, 5.07854766, 3.9274503 , 4.77883578, 5.2112863 ,
       3.38701927, 3.97606116, 4.27720497, 5.17509714, 3.76041644,
       4.6028984 , 4.6392502 , 4.22008764, 3.94088449, 3.85785459,
       4.20797764, 3.45811331, 3.94645171, 3.98087474, 3.63215096,
       3.50837129, 5.37677485, 4.20633963, 3.78688221, 3.50053833,
       4.1459879 , 3.57772689, 3.66511013, 3.83181065, 4.01685766,
       4.75699075, 4.41925995, 4.47362401, 2.97386525, 3.1278923 ])

In [26]:
happiness_all['model output predicted happiness']=model.predict (X)

In [29]:
happiness_all.head()

,Country,Overall rank,Score,GDP per capita,Family,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption,model output predicted happiness
Year,,,,,,,,,,
2017,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,6.993993
2017,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,6.833822
2017,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,6.827236
2017,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,6.979038
2017,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,6.755085

In [31]:
happiness_all.to_csv('Prediction happiness.csv')