In [1]:
import os
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd 
import numpy as np

In [2]:
#reading clean files and combining them to one.
happy_2017 = pd.read_csv('CleanData/2017_cleaned.csv')
happy_2017.head(5)

,Unnamed: 0,Country,Overall rank,Score,GDP per capita,Family,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption
0,0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612

In [11]:
happy_2017['Year'] = 2017

In [3]:
happy_2018 = pd.read_csv('CleanData/2018_cleaned.csv')
happy_2018.head(5)

,Unnamed: 0,Overall rank,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption
0,0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [13]:
happy_2018['Year'] = 2018

In [4]:
happy_2019 = pd.read_csv('CleanData/2019_cleaned.csv')
happy_2019.head(5)

,Unnamed: 0,Overall rank,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption
0,0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [14]:
happy_2019['Year'] = 2019

In [16]:
happiness_all = happy_2017.append(happy_2018, ignore_index=True).append(happy_2019, ignore_index=True)\
.drop(columns=['Unnamed: 0','Social support']).dropna().set_index('Year')
happiness_all.head(10)

,Country,Overall rank,Score,GDP per capita,Family,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption
Year,,,,,,,,,
2017,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
2017,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2017,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
2017,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
2017,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612
2017,Netherlands,6,7.377,1.503945,1.428939,0.810696,0.585384,0.470490,0.282662
2017,Canada,7,7.316,1.479204,1.481349,0.834558,0.611101,0.435540,0.287372
2017,New Zealand,8,7.314,1.405706,1.548195,0.816760,0.614062,0.500005,0.382817
2017,Sweden,9,7.284,1.494387,1.478162,0.830875,0.612924,0.385399,0.384399
2017,Australia,10,7.284,1.484415,1.510042,0.843887,0.601607,0.477699,0.301184

In [18]:
happiness_all.to_csv('Onefile.csv')

In [19]:
happiness_all.to_csv(r'C:\users\sadik\Desktop\DataViz\Homework\Final Project\Onefile.csv', index=False)

In [23]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
model = LinearRegression()

In [25]:
X = happiness_all[['GDP per capita', 'Healthy life expectancy', 'Freedom', 'Generosity','Perceptions of corruption']]
y = happiness_all.Score

In [54]:
#plt.scatter(X,y)

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [28]:
model.fit(X_train, y_train)

LinearRegression()

In [31]:
model.score(X_train, y_train)

0.7508849451254818

In [30]:
model.score(X_test, y_test)

0.8041488652801989

# Predict higher GDP higher happiness

In [44]:
happiness_all[happiness_all['GDP per capita'] == happiness_all['GDP per capita'].max()]

,Country,Overall rank,Score,GDP per capita,Family,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption
Year,,,,,,,,,
2017,Qatar,35,6.375,1.870766,1.274297,0.710098,0.604131,0.330474,0.439299

In [49]:
X_test[9:10]

,GDP per capita,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption
Year,,,,,
2017,0.305809,0.375223,0.189197,0.208733,0.067232

In [50]:
y_test[9:10]

Year
2017    3.644
Name: Score, dtype: float64

In [51]:
model.predict(X_test[9:10])

array([3.82699391])